body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #0d182c;
}

.snowflake {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

@keyframes fall {
  from {
    transform: translateX(100px)
  }
  to {
    transform: translateX(-100px);
    top: 100vh;
  }
}

.control_panel_area {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel_openclose {
  position: absolute;
  top: 8px;
  left: 293px;
  width: 30px;
  height: 46px;
  background-image: url(btn_openclose.png);
  background-position: -11px -3.5px;
  border-radius: 30% 50% 50% 30%;
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}

.control_panel {
  position: fixed;
  left: -15px;
  background-color: whitesmoke;
  border: none;
  border-radius: 8px;
  padding: 37px 20px 10px 45px;
  max-width: 350px;
  height: 800px;
  box-sizing: border-box;
  transition: left 0.4s ease-in-out;
}

.control_title {
  font-size: large;
  margin-bottom: 8px;
}

.control_title::after {
  width: 10px;
  height: 10px;
  background-color: red;
}

.control {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 115px 135px;
  grid-row-gap: 2px;
  align-items: stretch;
}

.control_label {
  margin: 0 0 3px 0;
}

.control_prop_name {
  margin-left: 8px;
}

.control_input {
  padding: 3px 6px;
  margin-left: 20px;
  font-size: 16px;
  width: 100px;
  height: 18px;
}

.control input[type=range] {
  appearance: auto;
  width: 117px;
  height: 24px;
  margin-left: 20px;
}

.image_preivew {
  width: 100px;
  height: 100px;
}

.sp-original-input-container {
  left: 20px;
  width: 100px;
}

.sp-colorize {
  padding: 3px 6px;
  width: 100px;
}

.upload_btn {
  background-color: aliceblue;;
  display: block;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.upload_btn input[type=file] {
  display: none;
}